body {
    font: 100%/1.5 system-ui;
    max-width: 100ch;
    margin-inline: auto;
    padding: 1em;
}

nav ul, nav li {
    display: contents;
}

nav {
    display: flex;
    margin-bottom: 2em;
    border-bottom: 1px solid oklch(80% 3% 200);
}

nav a {
    flex: 1;
    text-align: center;
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
}

html {
    --color-accent: oklch(65% 50% 0); 
    accent-color: var(--color-accent);
}

nav a.current {
    border-bottom: 0.4em solid oklch(80% 3% 200);
    padding-bottom: 0.1em; 
}

nav a:hover {
    border-bottom: 0.4em solid var(--color-accent);
    padding-bottom: 0.1em; 
}